@inherits LayoutComponentBase
@using flyballstats.Web.Components.Auth

<!-- Header with authentication -->
<div class="main-layout">
    <div class="header px-4 py-2 border-bottom">
        <div class="d-flex justify-space-between align-center">
            <MudText Typo="Typo.h5">FlyballStats.com</MudText>
            <AuthenticationStatus />
        </div>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
