
@inherits LayoutComponentBase

<!-- No header or navigation -->
<div class="main-layout">
    <div class="content px-4">
        @Body
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
