<div class="d-flex flex-column">
    <MudText Typo="Typo.h6" Class="px-4 py-2">Navigation</MudText>
    <MudNavMenu>
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="Icons.Material.Filled.Home">Home</MudNavLink>
        <MudNavLink Href="counter" Icon="Icons.Material.Filled.Add">Counter</MudNavLink>
        <MudNavLink Href="weather" Icon="Icons.Material.Filled.List">Weather</MudNavLink>
        <MudNavLink Href="tournament-upload" Icon="Icons.Material.Filled.Upload">Upload CSV</MudNavLink>
    </MudNavMenu>
</div>
