<div class="d-flex">
    <MudNavMenu Class="d-flex flex-row">
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="Icons.Material.Filled.Home">Home</MudNavLink>
        <MudNavLink Href="tournament-upload" Icon="Icons.Material.Filled.Upload">Tournament Management</MudNavLink>
    </MudNavMenu>
</div>
